@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* solutions */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink:2;
}
.header, .footer {
  display:flex;
  justify-content: space-between;

}

.footer {
  background-color: darkslategray;
}

.left-links, .right-links {
  /* margin-right:auto; */
  display:flex;
  gap:16px;
  margin:25px;
  list-style-type: none;
}
.left-links {
  margin-left:50px;
}
.right-links {
  margin-right:50px;
}

ul {
  padding-left:0px;
}

a { 
  color:darkgrey;
  text-decoration: none; 
} 



.content {
  flex:1;
  display:flex;
  /* padding-top:20px; */
  justify-content:center;
  align-items: center;
  flex-direction: column;
  
}